<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<h1>Welcome to Kodebook</h1>
		<h3>! This is social media app</h3>
		<form action="/login" method="post">
			<hr>
			<label>Username</label>
			<input type="text" name="username" >
			<br>
			<br>
			<label>Password</label>
			<input type="password" name="password" >
			<br><br>
			<input type="submit">
			<hr>
			<hr>
			<a href="/openResetPassword">Forget Password</a>
			<a href="/openSignUp">New User</a>
			
		</form>
		
	</body>
</html>